[alias]
        a  = add
        al = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
        ba = branch -a
        bn = rev-parse --abbrev-ref HEAD
        br = branch
        c  = commit
        cam = commit -a -m
        came = commit -a --amend
        cleanup = !git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d
        cm = commit -m
        co = checkout
        d1 = diff HEAD~
        d2 = diff HEAD~~
        dc = diff --cached
        di = diff
        dm = diff master
        empty = commit --allow-empty -m
        ft = fetch
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
        lp = log -p
        me = config user.name
        mee = config user.email
        np = !git --no-pager
        pl = pull
        pls =!git pull && git push
        ps = push
        sed =  "!f () { git grep -l $1 | xargs sed -i '' s/$1/$2/g; }; f"
        sh = show
        sm = submodule
        so = remote show origin
        st = status -s
        wc = whatchanged

        # fork
        fetch-pulls = fetch upstream +refs/pull/*:refs/remotes/pull/*
        resync = "!sh -c 'branch=`git rev-parse --abbrev-ref HEAD` && git co master && git pull upstream master && git reset upstream/master --hard && git push origin master && git co $branch'"
        resyncm = !git resync && git merge master
        resyncr = !git resync && git rebase master
        su = remote show upstream

[color]
        branch = auto
        diff = auto
        grep = auto
        interactive = auto
        status = auto

[core]
        autocrlf = false
        editor = code --wait
        excludesfile = ~/.gitignore.global

[diff]
        tool = default-difftool

[difftool "default-difftool"]
        cmd = code --wait --diff $LOCAL $REMOTE

[ghq]
        root = ~/.go/src
        root = ~/.ghq

[include]
        path = .gitconfig.local

[merge]
        tool = vscode

[mergetool "vscode"]
        cmd = code --wait $MERGED

[fetch]
	prune = true

[push]
        default = current

[pull]
	rebase = true
