.DS_Store

.cask

# Emacs
.emacs.d/url/
.emacs.d/backup/
.emacs.d/undohist/
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/projectile-bookmarks.eld
*~
local.el
*.local

# Atom
.atom/.apm/
.atom/.node-gyp/
.atom/compile-cache/
.atom/npm-debug.log
.atom/packages/
.atom/storage/
.atom/blob-store