.DS_Store

.cask

# Emacs
dotfiles/.emacs.d/url/
dotfiles/.emacs.d/backup/
dotfiles/.emacs.d/undohist/
dotfiles/.emacs.d/ac-comphist.dat
dotfiles/.emacs.d/auto-save-list/
dotfiles/.emacs.d/projectile-bookmarks.eld

*~
local.el

**/*.local
