.DS_Store

update-notifier-npm.json

# Emacs
dotfiles/.emacs.d/.cask
dotfiles/.emacs.d/ac-comphist.dat
dotfiles/.emacs.d/auto-save-list/
dotfiles/.emacs.d/backup/
dotfiles/.emacs.d/projectile-bookmarks.eld
dotfiles/.emacs.d/undohist/
dotfiles/.emacs.d/url/

*~
local.el

**/*.local
