[submodule "submodules/solarized"]
	path = submodules/solarized
	url = git@github.com:altercation/solarized.git
[submodule ".emacs.d/public_repos/rinari"]
        path = dotfiles/.emacs.d/public_repos/rinari
        url = git@github.com:eschulte/rinari.git
