"*":
  "autocomplete-plus": {}
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "japanese-wrap"
      "wrap-style"
    ]
    themes: [
      "flatland-dark-ui"
      "monokai"
    ]
  editor:
    invisibles: {}
    preferredLineLength: 72
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "7abc32c3-438e-e8fb-d06f-29ca6a247ef7"
  "git-diff":
    showIconsInEditorGutter: true
  "japanese-wrap":
    characterWidth: {}
  "markdown-preview":
    liveUpdate: false
    useGitHubStyle: true
  "save-session":
    dataSaveFolder: "/Users/yusei-nishiyama/.atom/packages/save-session/projects"
    fullScreen: false
    project: "/Users/yusei-nishiyama/workspace/private/SwiftBook"
    windowHeight: 873
    windowWidth: 1440
    windowX: 0
    windowY: 23
  "show-ideographic-space": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".html.ruby.text":
  editor:
    preferredLineLength: 72
".js.rails.source source.jquery.js":
  editor:
    preferredLineLength: 72
".rails.rjs.ruby.source":
  editor:
    preferredLineLength: 72
".rails.ruby.source":
  editor:
    preferredLineLength: 72
".ruby.source.sql":
  editor:
    preferredLineLength: 72
