"*":
  editor:
    invisibles: {}
    showInvisibles: true
    preferredLineLength: 72
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  core:
    themes: [
      "flatland-dark-ui"
      "monokai"
    ]
    disabledPackages: [
      "japanese-wrap"
      "wrap-style"
    ]
  "exception-reporting":
    userId: "7abc32c3-438e-e8fb-d06f-29ca6a247ef7"
  welcome:
    showOnStartup: false
  "save-session":
    dataSaveFolder: "/Users/yusei-nishiyama/.atom/packages/save-session/projects"
    project: "/Users/yusei-nishiyama/workspace/private/SwiftBook"
    windowX: 0
    windowY: 23
    windowWidth: 1440
    windowHeight: 873
    fullScreen: false
  "japanese-wrap":
    characterWidth: {}
  "tree-view": {}
  "show-ideographic-space": {}
  autosave:
    enabled: true
  "markdown-preview":
    useGitHubStyle: true
    liveUpdate: false
  "git-diff":
    showIconsInEditorGutter: true
